@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Cormorant+Infant:ital,wght@1,300;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../Images/multicolored-abstract-painting-1509534\ \(2\).jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: repeat-y;
   
    
}
.navbarr{
    position:fixed;
    top: 0%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
}
.bar{
    opacity: 0.8;
    color: white;
    width: 100px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    transition: ease 0.4s;
}
.bar a{
    color: white;
    text-decoration: none;

}
 .active{
    background-color: rgba(222, 224, 227,0.3);
    width: 80%;
    opacity: 1;

}
.bar:hover{
    opacity: 1;
}

.social {
    
    margin-right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 0px;
    background-color: rgba(222, 224, 227,0.3);
    box-sizing: content-box;
    transition:  0.3s;
}

.social div:hover,.social img:hover{
    transform: scale(1.04,1.04);

}
.social img{
    display: flex;
    opacity: 0.5;
    filter: invert(100%);
}
.mainc{
    font-family: 'Merienda One', cursive;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ctitle{
    font-size: 96px;
}
.year{
    font-size: 136px;
}
.byline{
    font-size: 26px;
    position: relative;
    top:-5px;
    text-align: center;
}
.date{
    font-size: 46px;
    text-align: center;
    position: relative;
    top:30px;
}
.standing{

    position: absolute;
    top: 10%;
    left: 30%;
    

    
}
.score{
    font-family: 'Merienda One', cursive;
    color:white;
    font-size: 75px;
    position: relative;
    bottom: 20px;

}
.stand{
    position: relative;
    top:10%;
    left: 5%;
    border-collapse: collapse;
    margin: 12px;
    font-family: 'Merienda One', cursive;
    color:white;
    border-right: 2px dotted rgba(222, 224, 227,0.3);
    border-bottom: 2px dotted rgba(222, 224, 227,0.3);
    min-width: 550px;
    box-shadow: 4px 4px 5px white;
}

.stand thead tr{

    text-align: left;
    height: 73px;
    font-size: 32px;
    background-color: rgba(222, 224, 227,0.3);

}
.stand tbody tr{

    text-align: left;
    height: 63px;
    border-bottom: 2px solid rgba(222, 224, 227,0.7);
    transition: ease-in 0.7s;
    
}
.stand tbody td{
    font-size: 26px;
    padding: 9px 10px;
}

.stand tbody tr:hover{
    background-color: rgba(222, 224, 227,0.3);

}
.result{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
}
.restitle{
    overflow-y: auto;
    font-family: 'Merienda One', cursive;
    position: absolute;
    top: 10%;
    color: white;
    font-size: 75px;

}
.conres{
    position: relative ;
    top: 700px;
    width: 550px;
    font-family: 'Merienda One', cursive;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.conres dt{
    font-size: 36px;
    color: white;
    height: 60px;
    margin: 12px 0;
}
.conres dd{
    position: relative;
    left: 50px;
    font-size: 25px;
    color: white;
}
.pillar-box{
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex: 1;
    align-items: center;
    justify-self: center;
    top: 30%;
    right: 55px;
    font-family: 'Merienda One', cursive;
    font-size: 55px;
    color: white;
    
}
.n{ 
    position: relative;
    display: inline;
    font-size: 105px;
    top: 35px;

}
.n2{
   position: relative;
   left: 120px; 
   bottom: 40px;
}

/* 
From Here Starts the responisve Code 
now Particularly for mobile screen S */

/* the Nav Bar Change*/
@media screen and (max-width: 500px  ){
    body{
        background-image: url(../Images/multicolored-abstract-painting-1509534\ \(2\).jpg);
        background-repeat: repeat-y;
        background-size: cover;
        overflow-y: scroll;
    }
    .navbarr{
        flex-direction: column;
        position: relative;
        left: 0%;
    }
    .bar{
        width: 100px;
    }
    .bar a{
        text-decoration: none;
    }
    .social{
        display: none;

    }
    .mainc{
        left: 55%;;
    }
    .ctitle{
        font-size: 46px;
    }
    .year{
        font-size: 75px;
    }
    .byline{
        font-size: 16px;
    }
    .date{
        font-size: 20px;
    }
    .score{
        font-size: 46px;
        position: relative;
        top: 140px;
        left: -50px;
        transform: scale(0.8,0.8);
    }
    .stand{
        position: relative;
        top: 100px;
        left: -75px;
        margin: 2px;
        min-width: 180px;
        transform: scale(0.8,0.8);
    }
    .stand thead{
        height: 34px;
        font-size: 36px;
    }
    .stand tbody{

        font-size: 16px;
        padding: 4.5px 5px;
    }
    .restitle{
        font-size: 36px;
        position: absolute;
        top: 220px;
        left: 30%;
    }
    .conres{
        position: relative;
        top: 550px;
        left: 140px;
    }
    .conres dt{
        font-size: 26px;
        margin: 6px 0;
    }
    .conres dd{
        font-size: 16px;
    }
    .pillar-box{
        font-size: 35px;
    }



}